



main{
  font-family: "Montserrat", sans-serif;
}

nav{
    background-color:  rgba(255, 153, 0, 0.233);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}


.logoAulab{
    width: 100px;
    height: 100px;
}


.link{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.link:hover{
    border-bottom: 2px solid rgb(255, 153, 0);

}


.listlink{
    list-style-type:none;
    display:flex ;
}

header{
    font-family: "Roboto", sans-serif;
    background-image: url(./media/background.webp);
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 50px;
    color: rgb(255, 153, 0);
    text-shadow: 1px 1px 2px black;
}

h2{
    color: rgb(255, 153, 0);
    text-shadow: 1px 1px 2px black;
}

.linkHome{
    color: white;
    text-decoration: none;
}


.btnArticle{
    background-color: rgb(38, 38, 38, 0.744);
    color: white;
}

.btnArticle:hover{
    background-color: rgb(255, 153, 0);
    color: black;
}

.titleArticle{
    text-align: center;
}

.imgArticle{
    width: 300px;
}

.containerArticle{
    display: flex;
    width: 60%;

}

aside{
    background-color:rgb(255, 153, 0) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    display: flex;
}