*{
  font-family: "Montserrat", sans-serif;
}

nav{
    background-color: rgb(38, 38, 38, 0.744);
}


.logoAulab{
    width: 100px;
    height: 100px;
}


.link{
    text-decoration: none;
    color: white;
}


.listlink{
    list-style-type:none;
}

header{
    background-image: url(./media/background.webp);
    height: 80vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1{
    color: white;
    font-size: 50px;
}

.linkHome{
    color: white;
    text-decoration: none;
}


.btnArticle{
    background-color: rgb(38, 38, 38, 0.744);
    color: white;
}

.btnArticle:hover{
    background-color: yellow;
    color: black;
}