



main{
  font-family: "Montserrat", sans-serif;
}

nav{
    background-color:  rgba(255, 153, 0, 0.233);
}


.logoAulab{
    width: 100px;
    height: 100px;
}


.link{
    text-decoration: none;
    color: white;
}


.listlink{
    list-style-type:none;
}

header{
    font-family: "Roboto", sans-serif;
    background-image: url(./media/background.webp);
    height: 80vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1{
    font-size: 50px;
    color: rgb(255, 153, 0);
    text-shadow: 1px 1px 2px black;
}

h2{
    color: rgb(255, 153, 0);
    text-shadow: 1px 1px 2px black;
}

.linkHome{
    color: white;
    text-decoration: none;
}


.btnArticle{
    background-color: rgb(38, 38, 38, 0.744);
    color: white;
}

.btnArticle:hover{
    background-color: rgb(255, 153, 0);
    color: black;
}